In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('hw.txt', header = None)
df

      0
0   180
1   180
2   170
3   200
4   170
5   180
6   140
7   190
8   180
9   130
10  150
11  220
12  185
13  110
14  165
15  300
16  150
17   86
18  140
19  300
20  155
21  150
22  182
23  178
24  170
25  150

In [3]:
dic = {}
l = df[0].tolist()
h=[]
w=[]


for i,j in enumerate(l):
    
    if i%2==0:
        h.append(j)
    else:
        w.append(j)
        

dic["Person Number"] = list(range(1,int(len(l)/2)+1))
dic["Height"] = h
dic["weight"] = w
dic["Height"] = [(i/100) for i in dic['Height']]
dic["weight"] = [(i/2.2) for i in dic['weight']]

In [4]:
df = pd.DataFrame.from_dict(dic)
df['BMI'] = df['weight']/df['Height']

In [5]:
categories = []
for i in df['BMI']:
    if i < 18.5:
        categories.append('Under Weight')
    elif i >= 18.5 and i <= 24.9:
        categories.append('Normal')
    elif i >= 25.9 and i <= 29.9:
        
        categories.append('Over Weight')
    else:
        
        categories.append('Obesity')

In [6]:
df['Category'] = categories
df

    Person Number  Height      weight        BMI     Category
0               1    1.80   81.818182  45.454545      Obesity
1               2    1.70   90.909091  53.475936      Obesity
2               3    1.70   81.818182  48.128342      Obesity
3               4    1.40   86.363636  61.688312      Obesity
4               5    1.80   59.090909  32.828283      Obesity
5               6    1.50  100.000000  66.666667      Obesity
6               7    1.85   50.000000  27.027027  Over Weight
7               8    1.65  136.363636  82.644628      Obesity
8               9    1.50   39.090909  26.060606  Over Weight
9              10    1.40  136.363636  97.402597      Obesity
10             11    1.55   68.181818  43.988270      Obesity
11             12    1.82   80.909091  44.455544      Obesity
12             13    1.70   68.181818  40.106952      Obesity

In [7]:
df1 = df[df['Category'] == 'Over Weight']
df1.reset_index(drop=True, inplace=True)

df2 = df[df['Category'] == 'Normal']
df2.reset_index(drop=True, inplace=True)

df3 = df[df['Category'] == 'Under Weight']
df3.reset_index(drop=True, inplace=True)

df4 = df[df['Category'] == 'Obesity']
df4.reset_index(drop=True, inplace=True)

In [8]:
# Overweight

n = len(df1)
k=0
print('over weight')
if n == 0:
    print("None")
else:
    while k < n:  

        print("Person-",df1["Person Number"][k],":",df1["BMI"][k])

        k+=1
print(f"Group size: {n}\nAverage BMI for this group: {df1.BMI.mean()}")
#Underweight

n = len(df3)
k=0
print('under weight')
if n == 0:
    print("None")
else:
    while k < n:  

        print("Person-",df3["Person Number"][k],":",df3["BMI"][k])

        k+=1
print(f"Group size: {n}\nAverage BMI for this group: {df3.BMI.mean()}")
    
        
# Normal

n = len(df2)
k=0
print('Normal')
if n == 0:
    print("None")
else:
    while k < n:  

        print("Person-",df2["Person Number"][k],":",df2["BMI"][k])

        k+=1
print(f"Group size: {n}\nAverage BMI for this group: {df2.BMI.mean()}")
# Obese


n = len(df4)
k=0
print('Obesity')
if n == 0:
    print("None")
else:
    while k < n:  

        print("Person-",df4["Person Number"][k],":",df4["BMI"][k])

        k+=1

print(f"Group size: {n}\nAverage BMI for this group: {df4.BMI.mean()}")
    
print(f"The File has records for {len(df)} persons")
print(f"Average BMI for all is : {df.BMI.mean()}")

over weight
Person- 7 : 27.02702702702702
Person- 9 : 26.06060606060606
Group size: 2
Average BMI for this group: 26.54381654381654
under weight
None
Group size: 0
Average BMI for this group: nan
Normal
None
Group size: 0
Average BMI for this group: nan
Obesity
Person- 1 : 45.45454545454545
Person- 2 : 53.475935828877006
Person- 3 : 48.1283422459893
Person- 4 : 61.68831168831169
Person- 5 : 32.82828282828282
Person- 6 : 66.66666666666666
Person- 8 : 82.64462809917354
Person- 10 : 97.4025974025974
Person- 11 : 43.988269794721404
Person- 12 : 44.455544455544455
Person- 13 : 40.10695187165775
Group size: 11
Average BMI for this group: 56.076370576033405
The File has records for 13 persons
Average BMI for all is : 51.53290072492313